@charset "UTF-8";

.shadow{
	
	box-shadow:black 0px 0px 10px;
}

#div1{
	text-align: center;
    background-color: #fff;
    border-radius: 20px;
    margin:auto;
    width:80%;
    padding:50px 20px;
    clear:both;
    left: 0;
    right: 0;
}

#div2{
	
}

#div4{
	min-width:900px;
}

#div5{
	min-width:900px;
}

#nav1{
	min-width:1000px;
}

#hr{
	
	height:10px;
	color:black;
}
